@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* downloading font(s) */
body {
  margin: 0;
  font-family: 'Poppins';
}

.container {
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

a {
  color: #444444;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/****************************** PHONE STYLING ********************/
@media only screen and (min-width: 320px) {
  /************************navbar*********************/
  .navbar {
    background: white;
    padding: 1em 1em 1em 1em;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    height: 70px;
  }
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  }
  .navbar .logo span {
    display: none;
  }
  .navbar .logo .logo1 {
    margin-top: -.4em;
    width: 50px;
  }
  .navbar .mobile-menu {
    width: 30px;
    cursor: pointer;
  }
  .navbar nav {
    display: none;
  }
  .navbar li.current a {
    font-weight: bold;
  }
  nav {
    position: fixed;
    z-index: 999;
    width: 50%;
    right: 0;
    top: 0;
    background: #040425;
    height: 100vh;
    padding: 1em;
  }
  nav .primary-nav {
    margin-top: 5em;
  }
  nav li a {
    color: white;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: left;
  }
  nav li a:hover {
    font-weight: bold;
  }
  .mobile-menu {
    cursor: pointer;
  }
  #mobile-exit {
    width: 15%;
  }
  nav.menu-btn {
    display: block;
  }
  .mobile-menu-exit {
    float: right;
    margin: .5em;
    padding-right: 1em;
    cursor: pointer;
  }
  /*************************** hero section ************************/
  #banner {
    background-color: #040425;
    height: 345px;
  }
  #banner .slogan {
    color: yellow;
  }
  .bunner_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    text-align: center;
    color: white;
  }
  .bunner_content .center, .bunner_content .right {
    display: none;
  }
  .bunner_content h1 {
    font-size: 1.3em;
  }
  .row {
    padding: 5em 0 7em 0;
  }
  img.liqued {
    position: absolute;
    margin-top: -5em;
    margin-left: -5px;
  }
  /**************** Why Us (2nd section) **************************/
  #y_us {
    background-color: yellow;
    padding-top: 1em;
  }
  h4 {
    font-size: 1.3em;
    padding-bottom: 1em;
    text-align: center;
  }
  .y_up {
    display: block;
    padding-bottom: 2em;
  }
  .y_img {
    width: 40%;
    height: 25%;
  }
  img.liqued4 {
    position: aboslute;
    margin-bottom: -1em;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .y_text {
    font-size: 15px;
    margin-bottom: -1em;
  }
  span {
    color: #040425;
  }
  .read {
    z-index: 99;
    color: #040425;
    font-size: 12px;
    margin-left: 10.5em;
  }
  /********************* servies styling (3rd section) *************************/
  .services_left {
    text-align: center;
  }
  .services_right p {
    padding-left: 2em;
    padding-right: 2em;
  }
  .services_right .services_img {
    margin-top: -21em;
    width: 280px;
    margin-left: 1em;
  }
  .services_right p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 1em;
  }
  /*************************  Process styling (4th section) *******************************/
  #process {
    margin-top: -19em;
    display: block;
    text-align: center;
    position: relative;
  }
  #process h4 {
    padding-bottom: 0;
  }
  #process .process_list img {
    width: 150px;
  }
  #process img.launch {
    width: 250px !important;
  }
  #process p {
    margin-top: -.5em;
    font-weight: 700;
  }
  #process .liqued2 {
    position: aboslute;
    margin-bottom: -1em;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .desktop {
    display: none;
  }
  /*************************** Our Work (5th section) ***********************/
  #work {
    margin: 0;
    padding-top: 2em;
    background: #ffd9d9;
  }
  #work .work_img {
    width: 80%;
    height: 30%;
    padding-bottom: .5em;
  }
  #work .work_disc {
    padding-bottom: 1em;
    font-size: 15px;
  }
  #work p {
    font-size: .8em;
  }
  /*********************** portfolio list (part of work section) *************************/
  .portfolio-container a img {
    border-radius: .4em;
    margin-bottom: 2em;
    width: 250px;
  }
  .subtitle {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    color: #040425;
    font-weight: bold;
  }
  .portfolio .hire-me {
    font-weight: bold;
  }
  .view {
    font-weight: bold;
    color: #040425;
    font-size: 1em;
  }
  img.liqued3 {
    margin-top: -.1em;
    width: 100%;
  }
  /*************************** Contact section (6th section) ***********************/
  .contact-section {
    background-color: #790000;
    color: white;
  }
  .contact-section h2 {
    font-size: 1.3em;
    color: black;
  }
  .contact-section label {
    display: block;
    font-size: 1.2em;
    -webkit-margin-after: .5em;
            margin-block-end: .5em;
  }
  .contact-section input, .contact-section textarea {
    width: 100%;
    padding: .8em;
    -webkit-margin-after: 1em;
            margin-block-end: 1em;
    border-radius: .3em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contact-section select {
    width: 100%;
    border-radius: .2em;
    margin-bottom: 1em;
  }
  .contact-section #budget {
    padding: .8em .6em .8em .6em;
  }
  .contact-section .check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-section input.cb {
    width: 15px;
    height: 15px;
    margin-right: 1em;
  }
  .contact-section p, .contact-section label {
    font: 13px 'Fira Sans', sans-serif;
    margin-top: .2em;
  }
  .contact-section .send-message-cta {
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: .8em;
    border: 3px solid #040425;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
    margin-top: 1.5em;
  }
  .contact-section .contact-right {
    display: none;
  }
  /****************************footer section (7th section) ******************************/
  #footer {
    background: #040425;
    height: 100px;
    padding-top: 1em;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .logo span {
    display: none;
  }
  .logo {
    width: 60px;
    height: 60px;
    padding-top: 1em;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2em;
    margin-top: 2em;
  }
  footer ul a {
    padding-left: .55em;
    color: white;
    font-size: .75em;
  }
}

/******************** BIGGER PHONETABLET *********************/
@media only screen and (min-width: 342px) and (max-width: 387px) {
  img.liqued {
    margin-top: -3em;
    margin-left: -.5em;
    width: 100%;
  }
  .read {
    margin-left: 12.85em;
  }
  .services_right .services_img {
    margin-top: -21em;
    width: 300px;
    margin-left: 3em;
  }
  .footer-list {
    margin-left: 3em;
  }
  .liqued3 {
    margin-top: -3em;
    margin-left: -.5em;
    width: 1%;
  }
}

@media only screen and (min-width: 388px) {
  #banner {
    height: 330px;
  }
  img.liqued {
    margin-top: -4em;
    margin-left: -.5em;
  }
  .read {
    margin-left: 13.6em;
  }
  .services_right .services_img {
    margin-top: -21em;
    width: 300px;
    margin-left: 7em;
  }
  .footer-list {
    margin-left: 3.8em;
  }
}

@media only screen and (min-width: 390px) {
  img.liqued {
    margin-top: -4em;
    margin-left: -.5em;
  }
  .read {
    margin-left: 15em;
  }
  .services_right .services_img {
    margin-top: -21em;
    width: 300px;
    margin-left: 4em;
  }
}

@media only screen and (min-width: 511px) {
  .read {
    margin-left: 19em;
  }
  .footer-list {
    margin-left: 10.8em;
  }
  .services_right .services_img {
    margin-left: 7em;
  }
}

@media only screen and (min-width: 591px) {
  #banner {
    height: 390px;
  }
  .bunner_content h1 {
    font-size: 1.8em;
  }
  .y_text {
    padding: 0 5em 1em 5em;
  }
  .read {
    font-size: 14px;
    margin-left: 18.6em;
  }
  .services_right .services_img {
    margin-top: -21em;
    width: 330px;
    margin-left: 9em;
  }
  .services_right p {
    padding: 0 5em 1em 5em;
  }
  .portfolio-container a img {
    width: 450px;
  }
}

/******************* TABLET *********************/
@media only screen and (min-width: 640px) {
  #banner {
    height: 413px;
  }
  img.liqued {
    margin-top: -100;
  }
  .bunner_content h1 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.8em;
  }
  .y_text {
    font-size: 18px;
  }
  .read {
    margin-left: 20.4em;
  }
  .services_right p {
    font-size: 18px;
  }
  .services_right p {
    padding: 0 9em 1em 9em;
  }
  .services_right .services_img {
    margin-top: -21em;
    width: 290px;
    margin-left: 14em;
  }
  #work .work_disc {
    font-size: 18px;
  }
  #work p {
    font-size: 1em;
  }
  #work .work_disc {
    padding-bottom: 1.5em;
  }
  .portfolio-container a img {
    border-radius: .4em;
    margin-bottom: 2em;
    width: 680px;
  }
  img.liqued3 {
    margin-left: 0;
    width: 100%;
  }
  .contact-section h2 {
    font-size: 1.8em;
  }
  .contact-section .send-message-cta {
    font-size: 1.2em;
  }
  footer ul a {
    padding-left: .8em;
    font-size: 1em;
  }
  .footer-list {
    margin-left: 15.8em !important;
  }
  footer .logo span {
    display: unset;
    margin-left: 1em;
    width: 100px;
    margin-top: 0.8em;
  }
  .services_right .services_img {
    margin-top: -15em;
    width: 413px;
  }
  #process h4 {
    padding-top: 2em;
  }
}

@media only screen and (min-width: 750px) {
  #y_us {
    position: relative;
  }
  .read {
    font-size: 15px;
    margin-left: 23em;
  }
  .footer-list {
    margin-left: 23em !important;
  }
}

@media only screen and (min-width: 832px) {
  .bunner_content h1 {
    font-size: 3em;
  }
  #banner .slogan {
    font-size: 1.3em;
  }
  #banner {
    height: 500px;
  }
  #y_us {
    position: relative;
    height: 650px;
  }
  .read {
    float: right;
    margin-right: 2em;
  }
  #y_us > a {
    margin-top: -3.5em;
  }
  .y_up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 2em;
    margin-top: -10em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .y_text {
    font-size: 22px;
    margin-top: 7em;
    width: 380px;
    text-align: right;
    padding: 0;
  }
  .y_img {
    width: 30%;
    height: 0%;
    padding-left: 2em;
  }
  #y_us h4 {
    font-size: 1.8em;
    text-align: right;
    padding-bottom: -13px;
    padding-top: 5em;
    margin-top: 1em;
    margin-bottom: -4em;
  }
  img.liqued4 {
    margin-bottom: -13em;
  }
  #services {
    padding-top: 9em;
  }
  .services_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services_right .services_img {
    margin: 0;
  }
  .services_right .services_img {
    width: 360px;
    margin-right: 3em;
  }
  #services h4 {
    font-size: 1.8em;
    text-align: left;
    margin-bottom: -9.5em;
    margin-left: 1.5em;
  }
  .services_right p {
    padding: 0;
  }
  .services_right p {
    font-size: 22px;
    width: 330px;
    padding-left: 2em;
    text-align: left;
    margin-top: 12em;
  }
  #work .work_disc {
    padding-bottom: 22px;
  }
  #work p {
    font-size: 1em;
    width: 0 auto;
    padding: 0 2em 0 2em;
  }
  .portfolio-container a img {
    width: 650px;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
  }
  #banner {
    height: 600px;
  }
  .bunner_content {
    place-content: center;
    text-align: center;
    color: white;
  }
  .bunner_content .center, .bunner_content .right {
    display: none;
  }
  .bunner_content h1 {
    font-size: 3.5em;
    width: 500px;
    margin-top: 1em;
  }
  .row {
    padding: 5em 0 7em 0;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .logo span {
    display: unset;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .logo .logo1 {
    margin-top: -.4em;
    width: auto;
  }
  span {
    color: #040425;
    margin-top: .5em;
    margin-left: 1em;
  }
  nav {
    background: none;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .mobile-menu-exit {
    display: none;
  }
  .navbar .mobile-menu {
    display: none;
  }
  nav .primary-nav {
    margin-top: .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em 0em 1.5em 0em;
  }
  nav li a {
    color: #040425;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
  }
  img.liqued {
    margin-top: -8em;
    margin-left: -.5em;
  }
  #y_us {
    position: relative;
    height: 645px;
  }
  .y_text {
    margin-bottom: -12em;
  }
  .read {
    float: right;
    margin-right: 4.5em;
  }
  #y_us > a {
    margin-top: -4em;
  }
  .footer-list {
    margin-left: 28em !important;
  }
  .desktop {
    display: unset;
    width: 780px;
  }
  .process_list {
    display: none;
  }
  #process h4 {
    text-align: left;
    padding-left: 3em;
  }
  .services_right .services_img {
    margin-top: -10em;
  }
  #services h4 {
    margin-bottom: -12.5em;
  }
  .services_right p {
    margin-top: 16em;
  }
}

@media only screen and (min-width: 948px) {
  .desktop {
    display: unset;
    width: 920px;
  }
  .bunner_content .center {
    width: 440px;
    margin-top: -1em;
  }
  .read {
    margin-left: 45.5em;
  }
  #y_us > a {
    margin-top: -5em;
  }
  #services {
    padding-top: 15em;
  }
  .footer-list {
    margin-left: 33em !important;
  }
  #banner {
    height: 598px;
  }
}

@media only screen and (min-width: 1024px) {
  .read {
    margin-left: 47.5em;
  }
  #y_us > a {
    margin-top: -6.5em;
  }
}

@media only screen and (min-width: 1038px) {
  #banner {
    height: 490px !important;
  }
  .bunner_content h1 {
    font-size: 2.3em;
  }
  .bunner_content .center {
    width: 440px;
    margin-top: -2em;
  }
  .bunner_content .right {
    margin-top: 5em;
    margin-left: 1.5em;
  }
  #y_us {
    height: 730px;
  }
  .read {
    margin-left: 45.5em;
  }
  #y_us > a {
    margin-top: -7.5em;
  }
  .services_container {
    padding: 0 2em 0 2em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services_right .services_img {
    margin-top: -8em;
    margin-bottom: 3em;
    width: 390px;
    margin-right: 0;
  }
  .services_right p {
    width: 400px;
  }
  #process h4 {
    text-align: left;
    padding-left: 2em;
  }
  .desktop {
    width: 1040px !important;
  }
  #work .work_disc {
    font-size: 22px;
    padding-bottom: 2em;
  }
  .portfolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .portfolio-container a img {
    width: 450px;
  }
  .work_list {
    text-align: left;
  }
  .portfolio-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inner {
    margin-top: 7em;
  }
  .view {
    font-size: 1.3em;
  }
  .contact-section .contact-right {
    display: unset;
  }
  .contact-section .container .contact-left {
    text-align: left;
    width: 600px;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-right img {
    width: 400px;
    margin-top: 3.5em;
  }
}

/********************** laptop *****************/
@media only screen and (min-width: 1085px) {
  .bunner_content .center {
    width: 400px;
    margin-top: -1em;
  }
  #y_us {
    padding-bottom: 3em;
  }
  .services_right .services_img {
    margin-top: -8em;
    margin-bottom: 6em;
    width: 400px;
    margin-right: 3em;
  }
  #work p {
    font-size: 1em;
    width: 0 auto;
    padding: 0;
  }
  .desktop {
    width: 980px;
  }
  .footer-list {
    margin-left: 38em !important;
  }
}

@media only screen and (min-width: 1078px) {
  #banner {
    height: 720px;
  }
  .bunner_content .center {
    width: 550px;
    margin-top: -2em;
  }
  #y_us {
    height: 680px !important;
  }
  .work_list a img {
    width: 500px;
  }
  .work_list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work_list p {
    font-size: 1em;
    width: 400px;
    padding: 0;
  }
  #work .work_disc {
    text-align: center;
  }
  .footer-list {
    margin-left: 38em !important;
  }
}

@media only screen and (min-width: 1120px) {
  #banner {
    height: 650px !important;
  }
  .bunner_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: left;
    text-align: left;
    color: white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bunner_content .center, .bunner_content .right {
    display: unset;
  }
  .bunner_content h1 {
    font-size: 2.5em;
    width: 500px;
    margin-top: 1em;
  }
  .bunner_content .right {
    width: 50px;
  }
  .bunner_content .center {
    width: 550px !important;
  }
  #y_us {
    height: 730px !important;
  }
  #y_us > a {
    margin-top: -9.5em;
  }
  .services_right .services_img {
    margin-left: 40px;
  }
  .footer-list {
    margin-left: 42em !important;
  }
}

@media only screen and (min-width: 1205px) {
  nav .primary-nav {
    margin-left: 9em;
  }
  #banner {
    height: 710px !important;
  }
  #banner .bunner_content .center {
    width: 503px !important;
  }
  #y_us {
    height: 780px !important;
  }
  .y_text {
    width: 520px;
  }
  .read {
    margin-right: 4.5em;
  }
  #y_us > a {
    margin-top: -14em;
  }
  .services_right .services_img {
    margin-left: 90px;
  }
  #process h4 {
    padding-top: 0;
  }
  .desktop {
    width: 1090px !important;
  }
  .work_list a img {
    width: 650px;
  }
  .services_right p {
    margin-top: 18em;
  }
  #services h4 {
    margin-bottom: -14.5em;
  }
  .view {
    margin-top: 4em;
  }
  .footer-list {
    margin-left: 47em !important;
  }
}

@media only screen and (min-width: 1320px) {
  nav {
    width: 42%;
  }
  #banner {
    height: 750px !important;
  }
  #banner .bunner_content .center {
    width: 590px !important;
  }
  #y_us {
    height: 850px !important;
  }
  #y_us .y_text {
    margin-top: 20em;
  }
  #y_us .y_text {
    margin-top: 14em;
    width: 690px;
    font-size: 20px;
  }
  #y_us .y_img {
    margin-top: 4em;
  }
  #y_us h4 {
    margin-bottom: -10em;
    padding-top: 8em;
  }
  #y_us .read {
    font-size: 18px;
    margin-right: 3.7em;
  }
  #y_us a {
    margin-top: -10.5em;
  }
  .desktop {
    width: 1221px !important;
  }
  .contact-right img {
    width: 505px;
  }
  .footer-list {
    margin-left: 53em !important;
  }
}

@media only screen and (min-width: 1430px) {
  h4 {
    font-size: 40px;
  }
  nav {
    width: 42%;
  }
  a > span > img {
    width: 230px;
  }
  #banner {
    height: 840px !important;
  }
  #banner .bunner_content .center {
    width: 568px !important;
  }
  #banner .bunner_content h1 {
    font-size: 50px;
    width: 430px;
  }
  #banner .slogan {
    font-size: 30px;
  }
  #y_us {
    height: 820px !important;
    padding-top: 2em;
  }
  #y_us h4 {
    margin-bottom: 55PX;
    font-size: 40px;
  }
  #y_us .y_text {
    margin-top: 3em;
    width: 690px;
    font-size: 30px;
  }
  #y_us .y_img {
    margin-top: -10em;
  }
  #y_us h4 {
    padding-top: 3em;
  }
  #y_us .read {
    font-size: 20px;
  }
  #y_us a {
    margin-top: -8.5em;
  }
  #services {
    padding-top: 9em;
  }
  #services h4 {
    font-size: 40PX;
    margin-bottom: -9.5em;
    margin-left: 1.5em;
  }
  #services .services_right p {
    font-size: 30px;
    width: 600px;
    margin-top: 12em;
  }
  .desktop {
    width: 1311px !important;
    margin-bottom: 2em;
  }
  #work .work_disc {
    font-size: 30px;
  }
  #work .inner {
    margin-top: 5em;
  }
  #work .view {
    font-size: 30px;
  }
  #work p {
    font-size: 1.3em;
  }
  .contact-section h2 {
    font-size: 40px;
  }
  .contact-section .container .contact-left {
    text-align: left;
    width: 700px;
  }
  .contact-right img {
    width: 545px;
    margin-top: 3.5em;
  }
  .footer-list {
    margin-left: 60em !important;
  }
  .contact-section input, .contact-section textarea {
    padding: 1.4em;
  }
  .contact-section #budget {
    padding: 1.4em .6em 1.4em .6em;
  }
}

/************************** desktop ************************************/
@media only screen and (min-width: 1920px) {
  .navbar {
    padding: 1em 1em 1em 1em;
    height: 100px;
  }
  .navbar .logo {
    width: 80px;
    height: 80px;
    padding-top: 1em;
  }
  .navbar a > span > img {
    width: 260px;
  }
  .navbar nav {
    width: 40%;
  }
  .navbar nav .primary-nav {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    font-size: 20px;
  }
  #banner {
    height: 1170px !important;
  }
  #banner .bunner_content h1 {
    font-size: 65px;
    width: 560px;
  }
  #banner #banner .slogan {
    font-size: 40px;
  }
  #banner .bunner_content .center {
    width: 830px !important;
  }
  .right > ul > li {
    width: 70px;
  }
  .right > ul > li:nth-child(1) {
    margin-top: 3em;
  }
  #y_us {
    height: 1150px !important;
  }
  #y_us .read {
    font-size: 26px;
    margin-right: 3em;
  }
  #y_us a {
    margin-top: -13em;
  }
  .desktop {
    width: 1800px !important;
  }
  #services {
    padding-top: 15em;
    padding-bottom: 7em;
  }
  .services_right .services_img {
    width: 550px;
  }
  .work_list a img {
    width: 995px;
  }
  #work p {
    font-size: 1.8em;
  }
  .work_list p {
    width: 760px;
  }
  .contact-section .container .contact-left {
    text-align: left;
    width: 875px;
  }
  .contact-section input, .contact-section textarea {
    padding: .8em;
  }
  .contact-section #budget {
    padding: .8em;
    font-size: 20px;
  }
  .contact-right img {
    width: 720px;
  }
  .contact-section p, .contact-section label {
    font: 20px 'Fira Sans', sans-serif;
    margin-top: .5em;
  }
  .contact-section .send-message-cta {
    font-size: 1.5em;
  }
  input.cb {
    width: 20px;
    height: 20px;
    margin: 0 1em 0 0;
  }
  input, option, textarea {
    font-size: 20px;
  }
  .footer-list {
    margin-left: 85em !important;
  }
  footer ul {
    font-size: 1.3em;
    margin-top: 1.3em;
  }
}

@media only screen and (min-width: 2560px) {
  .navbar {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .navbar nav {
    margin-top: .6em;
    width: 28%;
  }
  #banner {
    height: 1540px !important;
  }
  #banner .bunner_content h1 {
    font-size: 85px;
    width: 800px;
  }
  #banner .slogan {
    font-size: 50px;
  }
  #banner .bunner_content .center {
    width: 1100px !important;
  }
  #y_us {
    height: 1400px !important;
    padding-top: 9em;
  }
  #y_us h4 {
    margin-bottom: 0;
    font-size: 60px;
  }
  #y_us .y_text {
    margin-top: 4em;
    width: 950px;
    font-size: 40px;
  }
  #y_us .y_img {
    margin-top: -22em;
  }
  #y_us h4 {
    padding-top: 3em;
  }
  #y_us .read {
    font-size: 32px;
    margin-right: 2.5em;
  }
  #y_us a {
    margin-top: -9.3em;
  }
  #services {
    padding-top: 25em;
  }
  #services h4 {
    font-size: 60PX;
    margin-bottom: -8em;
    margin-left: 1.4em;
  }
  #services .services_right p {
    font-size: 40px;
    width: 800px;
    margin-top: 12em;
  }
  #services .services_right .services_img {
    margin-left: 50px;
    width: 700px;
  }
  #process h4 {
    padding-top: 4em;
    font-size: 60px;
  }
  #process .desktop {
    width: 2400px !important;
  }
  #work h4 {
    font-size: 60px;
  }
  #work .work_disc {
    font-size: 40px;
  }
  #work .work_list a img {
    width: 1400px;
  }
  #work .inner {
    margin-top: 12em;
  }
  #work .view {
    font-size: 40px;
  }
  #work p {
    font-size: 30px;
  }
  #work .work_list p {
    width: 800px;
  }
  .contact-section h2 {
    font-size: 60px;
  }
  .contact-section .container .contact-left {
    text-align: left;
    width: 1100px;
  }
  .contact-section input, .contact-section textarea {
    padding: 1em;
  }
  .contact-section #budget {
    padding: 1em;
    font-size: 30px;
  }
  .contact-section .contact-right img {
    width: 1000px;
    margin-top: 9em;
  }
  .contact-section p, .contact-section label {
    font: 30px 'Fira Sans', sans-serif;
    margin-top: 0;
  }
  .contact-section .send-message-cta {
    font-size: 2em;
  }
  .contact-section .contact-section .check #tc {
    width: 0px;
    margin-top: .45em;
  }
  .contact-section input.cb {
    width: 30px;
    height: 30px;
  }
  .contact-section input, .contact-section option, .contact-section textarea {
    font-size: 30px;
  }
  #footer {
    height: 160px;
  }
  #footer .footer-list {
    margin-left: 118em !important;
  }
  #footer footer ul {
    font-size: 1.8em;
    margin-top: 1.1em;
  }
  #footer footer .logo span {
    width: 558px;
    margin-top: 0.8em;
  }
  #footer footer {
    margin-top: 1.4em;
  }
  #footer footer > a > img {
    width: 100px;
    height: 100px;
    margin-top: -1em;
  }
  #footer a > span > img {
    width: 327px;
    margin-top: -.5em;
  }
}
/*# sourceMappingURL=main.css.map */