@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* downloading font(s) */
body {
  margin: 0;
  font-family: 'Poppins';
}

.container {
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

a {
  color: #444444;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/****************************** PHONE STYLING ********************/
@media only screen and (min-width: 320px) {
  h4 {
    font-size: 1.3em;
    padding-bottom: 1em;
    text-align: center;
    margin: 0;
  }
  p {
    padding-bottom: 1em;
    font-size: .8em;
  }
  .process_list p {
    font-weight: 700;
  }
  /************************navbar***********************************************/
  .navbar {
    background: white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    padding: 1em 0 1em 0;
  }
  .navbar .container .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  }
  .navbar .logo span {
    display: none;
  }
  .navbar .logo .logo1 {
    width: 50px;
  }
  .navbar .mobile-menu {
    width: 30px;
    cursor: pointer;
  }
  .navbar nav {
    position: fixed;
    z-index: 999;
    display: none;
    width: 100%;
    right: 0;
    top: 0;
    background: #040425;
    height: 100vh;
    padding: 0;
  }
  .navbar nav .navList {
    padding: 1em;
    margin-top: 2em;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li a {
    color: white;
    display: block;
    padding: 0 .6em 0 .6em;
    font-size: 1.3em;
    text-align: center;
  }
  .navbar nav li a:hover {
    font-weight: bold;
  }
  .navbar nav .closeNav {
    height: 5.2em;
    background: white;
  }
  .navbar .mobile-menu {
    cursor: pointer;
  }
  .navbar #mobile-exit {
    width: 10%;
  }
  .navbar nav.menu-btn {
    display: block;
  }
  .navbar .mobile-menu-exit {
    padding-top: 1.5em;
    cursor: pointer;
  }
  /*************************** hero section **************************************/
  #banner {
    background-color: #040425;
  }
  #banner .slogan {
    color: yellow;
    font-size: .8em;
  }
  #banner .bunner_content {
    color: white;
  }
  #banner .bunner_content .left {
    padding: 3em 0 1em 0;
  }
  #banner .bunner_content .left .space {
    display: none;
  }
  #banner .bunner_content .left .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 2em;
  }
  #banner .bunner_content .center, #banner .bunner_content .right {
    display: none;
  }
  #banner .bunner_content h1 {
    font-size: 1.3em;
    margin: 0;
  }
  #banner .bunner_content .cta .calltoaction2 a {
    color: white;
    width: 90px;
    background-color: transparent;
    font-weight: bold;
    font-size: .65em;
    border: 3px solid white;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 1em;
    cursor: pointer;
    margin-top: 1em;
  }
  #banner .bunner_content .cta .calltoaction1 a {
    color: yellow;
    width: 90px;
    background-color: transparent;
    font-weight: bold;
    font-size: .65em;
    border: 3px solid yellow;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 1em;
    cursor: pointer;
    margin-top: 1.5em;
  }
  #banner img.liqued {
    margin-bottom: -1em;
  }
  /**************** Why Us (2nd section) ******************************************/
  #y_us {
    background-color: yellow;
  }
  .y_up {
    display: block;
    padding-bottom: 2em;
  }
  .y_img {
    width: 40%;
    height: 25%;
  }
  img.liqued4 {
    margin-bottom: -1em;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  span {
    color: #040425;
  }
  .read {
    color: #040425;
    font-size: 12px;
  }
  /********************* servies styling (3rd section) **********************************/
  .services_left {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
  }
  .services_right .servSvg {
    width: 256px;
    height: 330px;
  }
  /*************************  Process styling (4th section) *******************************/
  #process {
    display: block;
    text-align: center;
    position: relative;
    padding-top: 3em;
  }
  #process .process_container {
    margin-top: 1.6em;
  }
  #process h4 {
    padding-bottom: 0;
  }
  #process .process_list img {
    width: 150px;
  }
  #process img.launch {
    width: 250px !important;
  }
  #process .liqued2 {
    position: aboslute;
    margin-bottom: -1em;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .desktop {
    display: none;
  }
  /*************************** Our Work (5th section) ***********************/
  #work {
    margin: 0;
    padding-top: 2em;
    background: #ffd9d9;
  }
  #work .work_img {
    width: 80%;
    height: 30%;
    padding-bottom: .5em;
  }
  /*********************** portfolio list (part of work section) *************************/
  .portfolio-container a img {
    border-radius: .4em;
    margin-bottom: 2em;
    width: 250px;
  }
  .subtitle {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    color: #040425;
    font-weight: bold;
  }
  .portfolio .hire-me {
    font-weight: bold;
  }
  .view {
    font-weight: bold;
    color: #040425;
    font-size: 1em;
  }
  img.liqued3 {
    margin-top: -.1em;
    width: 100%;
  }
  /*************************** Contact section (6th section) ***********************/
  .contact-section {
    background-color: #790000;
    color: white;
  }
  .contact-section h2 {
    font-size: 1.3em;
    color: white;
  }
  .contact-section label {
    display: block;
    font-size: 1.2em;
    -webkit-margin-after: .5em;
            margin-block-end: .5em;
    font-family: 'Poppins';
  }
  .contact-section input, .contact-section textarea {
    width: 100%;
    padding: .8em;
    -webkit-margin-after: 1em;
            margin-block-end: 1em;
    border-radius: .3em;
    border: 1px solid #040425;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins';
  }
  .contact-section select {
    width: 100%;
    border-radius: .2em;
    margin-bottom: 1em;
  }
  .contact-section #budget {
    font-family: 'Poppins';
    padding: 0.8em;
  }
  .contact-section .check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-section input.cb {
    width: 15px;
    height: 15px;
    margin-right: 1em;
  }
  .contact-section p, .contact-section label {
    font: 13px 'Fira Sans', poppins;
    margin-top: .2em;
  }
  .contact-section .send-message-cta {
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: .8em;
    border: 3px solid #040425;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }
  .contact-section .contact-right {
    display: none;
  }
  .contact-section form .button-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-section .button-area button:hover {
    background: #040425;
  }
  .contact-section .button-area span {
    font-size: 17px;
    margin-left: 30px;
    margin-top: -60px;
    display: none;
  }
  /****************************footer section (7th section) ******************************/
  #footer {
    background: #040425;
    padding: 1em 2em 1em 2em;
  }
  #footer .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #footer .logo span {
    display: none;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  #footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #footer ul a {
    padding-left: .55em;
    color: white;
    font-size: .75em;
  }
}

/******************** BIGGER PHONETABLET *********************/
@media only screen and (min-width: 375px) {
  .services_right .servSvg {
    width: 310px;
    height: 400px;
  }
  #banner .bunner_content h1 {
    font-size: 1.8em;
  }
  #banner .bunner_content .slogan {
    font-size: .8em;
  }
  #banner .bunner_content .cta .calltoaction1 a {
    font-size: .8em;
    padding: .8em 1em;
  }
  #banner .bunner_content .cta .calltoaction2 a {
    font-size: .8em;
    padding: .8em 1em;
  }
  .portfolio-container a img {
    border-radius: .4em;
    margin-bottom: 2em;
    width: 300px;
  }
}

@media only screen and (min-width: 425px) {
  #banner .bunner_content h1 {
    font-size: 2.3em;
  }
  #banner .bunner_content .slogan {
    font-size: 1.1em;
  }
  #banner .cta .calltoaction1 a {
    font-size: 1em;
    width: 135px;
    margin-right: 1em;
  }
  #banner .cta .calltoaction2 a {
    font-size: 1em;
    width: 135px;
  }
  #banner .left .cta {
    padding: 0 5em;
  }
  .services_right .servSvg {
    width: 420px;
    height: 450px;
  }
  .portfolio-container a img {
    width: 359px;
  }
}

/******************* TABLET *********************/
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 2.3em;
  }
  p {
    font-size: 1.1em;
  }
  .navbar .mobile-menu {
    width: 45px;
  }
  .navbar .logo .logo1 {
    width: 60px;
  }
  .navbar .logo {
    width: 60px;
  }
  nav .closeNav {
    height: 5.75em;
  }
  nav .navList {
    margin-top: 4em;
  }
  nav li a {
    font-size: 2em;
  }
  #mobile-exit {
    width: 7%;
  }
  #banner .bunner_content h1 {
    font-size: 3.4em;
  }
  #banner .bunner_content .slogan {
    font-size: 1.4em;
  }
  #banner .bunner_content .left {
    padding: 5em 0 1em 0;
  }
  #banner .bunner_content .left .cta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #y_us .read {
    font-size: .9em;
  }
  .services_right .servSvg {
    width: 530px;
    height: 450px;
  }
  .portfolio-container a img {
    width: 680px;
  }
  .subtitle {
    font-size: 1.2em;
  }
  #footer .logo span {
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1em;
  }
  #footer ul a {
    padding-left: .55em;
    color: white;
    font-size: 1em;
  }
}

/******************* Laptop *********************/
@media only screen and (min-width: 1024px) {
  h4 {
    font-size: 3.3em;
  }
  p {
    font-size: 1.6em;
  }
  .navbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
  }
  .navbar .mobile-menu {
    display: none;
  }
  .navbar nav {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: unset;
    position: relative;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: unset;
    background: none;
  }
  .navbar nav li a {
    color: #040425;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.3em;
    text-align: right;
  }
  .navbar nav .mobile-menu-exit {
    display: none;
  }
  .navbar nav .closeNav {
    display: none;
  }
  .navbar nav .navList {
    margin-top: 0;
    padding: 0;
  }
  .navbar nav .primary-nav {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: unset;
  }
  .navbar .navContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .navbar .logo span {
    display: unset;
    margin-top: 0;
    margin-left: 1em;
    width: unset;
  }
  .navbar .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .logo .logo1 {
    width: 70px;
  }
  span .piName {
    width: 14em;
  }
  #banner .bunner_content .left h1 {
    font-size: 5em;
  }
  #banner .bunner_content .slogan {
    font-size: 2.2em;
  }
  #banner .bunner_content .cta .calltoaction1 a {
    font-size: 1.1em;
    width: 125px;
    padding: 1em 2em;
  }
  #banner .bunner_content .cta .calltoaction2 a {
    font-size: 1.1em;
    width: 125px;
    padding: 1em 2em;
  }
  #y_us .read {
    font-size: 1.1em;
  }
  #process .process_list img {
    width: 200px;
  }
  .subtitle {
    font-size: 1.6em;
  }
  .portfolio-container a img {
    width: 900px;
  }
  .view {
    font-size: 1.3em;
  }
  .contact-section input, .contact-section textarea {
    font-size: 1.1em;
  }
  .contact-section #budget {
    font-size: 1.1em;
  }
  .contact-section p, .contact-section label {
    font-size: 1em;
    margin-top: .2em;
  }
  .contact-section input.cb {
    width: 20px;
    height: 20px;
    margin-right: 1em;
  }
  .contact-section .send-message-cta {
    font-size: unset;
  }
  .logo {
    width: unset;
    height: unset;
  }
  #footer ul {
    font-size: 1.3em;
  }
  span {
    width: 14em;
  }
}

@media only screen and (min-width: 1440px) {
  .bunner_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: left;
    text-align: left;
    color: white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bunner_content .center, .bunner_content .right {
    display: unset;
  }
  .bunner_content h1 {
    font-size: 2.5em;
    width: 500px;
    margin-top: 1em;
  }
  .bunner_content .right {
    width: 50px;
  }
  .bunner_content .center {
    width: 550px !important;
  }
}

@media only screen and (min-width: 1320px) {
  nav {
    width: 42%;
  }
  #banner {
    height: 750px !important;
  }
  #banner .bunner_content .center {
    width: 590px !important;
  }
  #y_us {
    height: 850px !important;
  }
  #y_us .y_text {
    margin-top: 20em;
  }
  #y_us .y_text {
    margin-top: 14em;
    width: 690px;
    font-size: 20px;
  }
  #y_us .y_img {
    margin-top: 4em;
  }
  #y_us h4 {
    margin-bottom: -10em;
    padding-top: 8em;
  }
  #y_us .read {
    font-size: 18px;
    margin-right: 3.7em;
  }
  #y_us a {
    margin-top: -10.5em;
  }
  .desktop {
    width: 1221px !important;
  }
  .contact-right img {
    width: 505px;
  }
  .footer-list {
    margin-left: 53em !important;
  }
}

@media only screen and (min-width: 1430px) {
  h4 {
    font-size: 40px;
  }
  nav {
    width: 42%;
  }
  a > span > img {
    width: 230px;
  }
  #banner {
    height: 840px !important;
  }
  #banner .bunner_content .center {
    width: 568px !important;
  }
  #banner .bunner_content h1 {
    font-size: 50px;
    width: 430px;
  }
  #banner .slogan {
    font-size: 30px;
  }
  #y_us {
    height: 820px !important;
    padding-top: 2em;
  }
  #y_us h4 {
    margin-bottom: 55PX;
    font-size: 40px;
  }
  #y_us .y_text {
    margin-top: 3em;
    width: 690px;
    font-size: 30px;
  }
  #y_us .y_img {
    margin-top: -10em;
  }
  #y_us h4 {
    padding-top: 3em;
  }
  #y_us .read {
    font-size: 20px;
  }
  #y_us a {
    margin-top: -8.5em;
  }
  #services {
    padding-top: 9em;
  }
  #services h4 {
    font-size: 40PX;
    margin-bottom: -9.5em;
    margin-left: 1.5em;
  }
  #services .services_right p {
    font-size: 30px;
    width: 600px;
    margin-top: 12em;
  }
  .desktop {
    width: 1311px !important;
    margin-bottom: 2em;
  }
  #work .work_disc {
    font-size: 30px;
  }
  #work .inner {
    margin-top: 5em;
  }
  #work .view {
    font-size: 30px;
  }
  #work p {
    font-size: 1.3em;
  }
  .contact-section h2 {
    font-size: 40px;
  }
  .contact-section .container .contact-left {
    text-align: left;
    width: 700px;
  }
  .contact-right img {
    width: 545px;
    margin-top: 3.5em;
  }
  .footer-list {
    margin-left: 60em !important;
  }
  .contact-section input, .contact-section textarea {
    padding: 1.4em;
  }
  .contact-section #budget {
    padding: 1.4em .6em 1.4em .6em;
  }
}

/************************** desktop ************************************/
@media only screen and (min-width: 1920px) {
  .navbar {
    padding: 1em 1em 1em 1em;
    height: 100px;
  }
  .navbar .logo {
    width: 80px;
    height: 80px;
    padding-top: 1em;
  }
  .navbar a > span > img {
    width: 260px;
  }
  .navbar nav {
    width: 40%;
  }
  .navbar nav .primary-nav {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    font-size: 20px;
  }
  #banner {
    height: 1170px !important;
  }
  #banner .bunner_content h1 {
    font-size: 65px;
    width: 560px;
  }
  #banner #banner .slogan {
    font-size: 40px;
  }
  #banner .bunner_content .center {
    width: 830px !important;
  }
  .right > ul > li {
    width: 70px;
  }
  .right > ul > li:nth-child(1) {
    margin-top: 3em;
  }
  #y_us {
    height: 1150px !important;
  }
  #y_us .read {
    font-size: 26px;
    margin-right: 3em;
  }
  #y_us a {
    margin-top: -13em;
  }
  .desktop {
    width: 1800px !important;
  }
  #services {
    padding-top: 15em;
    padding-bottom: 7em;
  }
  .services_right .services_img {
    width: 550px;
  }
  .work_list a img {
    width: 995px;
  }
  #work p {
    font-size: 1.8em;
  }
  .work_list p {
    width: 760px;
  }
  .contact-section .container .contact-left {
    text-align: left;
    width: 875px;
  }
  .contact-section input, .contact-section textarea {
    padding: .8em;
  }
  .contact-section #budget {
    padding: .8em;
    font-size: 20px;
  }
  .contact-right img {
    width: 720px;
  }
  .contact-section p, .contact-section label {
    font: 20px 'Fira Sans', sans-serif;
    margin-top: .5em;
  }
  .contact-section .send-message-cta {
    font-size: 1.5em;
  }
  input.cb {
    width: 20px;
    height: 20px;
    margin: 0 1em 0 0;
  }
  input, option, textarea {
    font-size: 20px;
  }
  .footer-list {
    margin-left: 85em !important;
  }
  footer ul {
    font-size: 1.3em;
    margin-top: 1.3em;
  }
}
/*# sourceMappingURL=main.css.map */