@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); /* downloading font(s) */
body {
    //background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';
}

.container {
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}
a{
    color: #444444;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/****************************** PHONE STYLING ********************/

@media only screen and (min-width: 320px) {

    h4 {
        font-size: 1.3em;
        padding-bottom: 1em;
        text-align: center;
        margin: 0;
    }
    p {
        padding-bottom: 1em;
        font-size: .8em;
    }
    .process_list p {
        font-weight: 700;
    }

    /************************navbar***********************************************/
    .navbar{
        background: white;
        position: sticky;
        z-index: 100;
        padding: 1em 0 1em 0;

        .container .header {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .container{
            display: flex;
            place-content: space-between;
        }
        
        .logo{
            span{
                display: none;
            }
    
            .logo1{
                width: 50px;
            }
        }
    
        .mobile-menu{
            width: 30px;
            cursor: pointer;
        }
        nav{
            position: fixed;
            z-index: 999;
            display: none;
            width: 100%;
            right: 0;
            top: 0;
            background: rgb(4, 4, 37);
            height: 100vh;
            padding: 0;
    
            .navList {
                padding: 1em;
                margin-top: 2em;
            }
            
            li.current a{
                font-weight: bold;
                
            }
        
            li{
                a{
                    color: white;
                    display: block;
                    padding: 0 .6em 0 .6em;
                    font-size: 1.3em;
                    text-align: center;
        
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
            .closeNav {
                height: 5.2em;
                background: white;
            }
    
        }
        .mobile-menu{
            cursor: pointer;
        }
        #mobile-exit {
            width: 10%;
        }
        nav.menu-btn{
            display: block;
        }
        .mobile-menu-exit{
            padding-top: 1.5em;
            cursor: pointer;
        }
    }
    
    /*************************** hero section **************************************/
    #banner {
        background-color: rgb(4, 4, 37);
    
        .slogan {
            color: rgb(255, 255, 0);
            font-size: .8em;
        }
        .bunner_content {
            color: white;
            .left {
                padding: 3em 0 1em 0;

                .space {
                    display: none;
                }
                .cta {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-end;
                    margin-top: 2em;
                }
            }
            .center, .right {
                display: none;
            }
            h1 {
                font-size: 1.3em;
                margin: 0;
            }
            .cta .calltoaction2 a {
                color: white;
                width: 90px;
                background-color: transparent;
                font-weight: bold;
                font-size: .65em;
                border: 3px solid white;
                border-radius: 5em;
                display: inline-block;
                padding: .8em 1em;
                cursor: pointer;
                margin-top: 1em;
            }
            .cta .calltoaction1 a {
                color: yellow;
                width: 90px;
                background-color: transparent;
                font-weight: bold;
                font-size: .65em;
                border: 3px solid yellow;
                border-radius: 5em;
                display: inline-block;
                padding: .8em 1em;
                cursor: pointer;
                margin-top: 1.5em;
            }
        }
        img.liqued {
            margin-bottom: -1em;
        }
    }
    
    /**************** Why Us (2nd section) ******************************************/
    #y_us {
        background-color: rgb(255, 255, 0);
    }
    .y_up {
        display: block;
        padding-bottom: 2em;
    }
    .y_img {
        width: 40%;
        height: 25%;
    }
    img.liqued4 {
     //   position: aboslute;
        margin-bottom: -1em;
        transform: rotateY(180deg);
    }
    span {
        color: rgb(4, 4, 37);
    }
    .read {
        color: rgb(4, 4, 37);
        font-size: 12px;
    }

    /********************* servies styling (3rd section) **********************************/
    .services_left {
        text-align: center;
        padding: 1em;
        margin-bottom: 1em;
    }
    .services_right .servSvg{
        width: 256px;
        height: 330px;
    }
    
    /*************************  Process styling (4th section) *******************************/
    #process {
        display: block;
        text-align: center;
        position: relative;
        padding-top: 3em;

        .process_container{
            margin-top: 1.6em;
        }
        
        h4 {
            padding-bottom: 0;
        }
        .process_list img {
            width: 150px;
    
        }
        img.launch {
            width: 250px !important;
        }
        // p {
        //     font-weight: 700;
        // }
        .liqued2 {
            position: aboslute;
            margin-bottom: -1em;
            transform: rotateY(180deg);
        }
    }
    .desktop {
        display: none;
    }
    
    /*************************** Our Work (5th section) ***********************/
    #work {
        margin: 0;
        padding-top: 2em;
        background: #ffd9d9;
    
        .work_img {
            width: 80%;
            height: 30%;
            padding-bottom: .5em;
        }
        // .work_disc {
        //     font-size: 15px;
        // }
    }
    
    /*********************** portfolio list (part of work section) *************************/
    
    .portfolio-container a img {
        border-radius: .4em;
        margin-bottom: 2em;
        width: 250px;
    }
    .subtitle {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 0.8em;
        color: rgb(4, 4, 37);
        font-weight: bold;
    }
    
    .portfolio .hire-me {
        font-weight: bold;
    }
    .view {
        font-weight: bold;
        color: rgb(4, 4, 37);
        font-size: 1em;
    }
    img.liqued3 {
        margin-top: -.1em;
        width: 100%;
    }
    /*************************** Contact section (6th section) ***********************/
    
    .contact-section{
    // margin-top: -1em;
        background-color: rgb(121, 0, 0);
        color: white;
    
        h2{
        font-size: 1.3em;
        color: white;
        }
    
        label{
            display: block;
            font-size: 1.2em;
            margin-block-end: .5em;
            font-family: 'Poppins';
        }
    
        input, textarea{
            width: 100%;
            padding: .8em;
            margin-block-end: 1em;
            border-radius: .3em;
            border: 1px solid rgb(4, 4, 37);
            box-sizing: border-box;
            font-family: 'Poppins';
        }
    
        select {
            width: 100%;
            border-radius: .2em;
            margin-bottom: 1em;
        }
    
        #budget {
            font-family: 'Poppins';
            padding: 0.8em
        }
        .check {
            display: flex;
        }
        input.cb {
            width: 15px;
            height: 15px;
            margin-right: 1em;
        }
        p,label {
            font: 13px 'Fira Sans', poppins;
            margin-top: .2em;
        }
    
        .send-message-cta{
            background-color: transparent;
            color: white;
            font-weight: bold;
            font-size: .8em;
            border: 3px solid rgb(4, 4, 37);
            border-radius: 5em;
            display: inline-block;
            padding: .8em 2em;
            width: unset;
            cursor: pointer;
            margin-top: 1.5em;
            margin-bottom: 2em;
        }
        .contact-right {
            display: none;
        }

        form .button-area{
            display: flex;
            align-items: center;
        }
        .button-area button:hover{
            background: rgb(4, 4, 37);
        }
        .button-area span{
            font-size: 17px;
            margin-left: 30px;
            margin-top: -60px;
            display: none;
        }
    }
    
    /****************************footer section (7th section) ******************************/
    #footer {
        background: rgb(4, 4, 37);
        padding: 1em 2em 1em 2em;
    }
    
    #footer .footer-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #footer .logo {
        display: flex;
        span {
            display: none;
        }
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    #footer ul {
        display: flex;
    }
    #footer ul a {
        padding-left: .55em;
        color: white;
        font-size: .75em;
    }
}

/******************** BIGGER PHONETABLET *********************/

@media only screen and (min-width: 375px) {

    .services_right .servSvg{
        width: 310px;
        height: 400px;
    }
    #banner {
        .bunner_content{
            h1 {
                font-size: 1.8em;
            }
            .slogan {
                font-size: .8em;
            }
            .cta .calltoaction1 a {
                font-size: .8em;
                padding: .8em 1em;
            }
            .cta .calltoaction2 a {
                font-size: .8em;
                padding: .8em 1em;
            }
        }
    }
    .portfolio-container a img {
        border-radius: .4em;
        margin-bottom: 2em;
        width: 300px;
    }
}
@media only screen and (min-width: 425px) {

    #banner {
        .bunner_content{
            h1 {
                font-size: 2.3em;
            }
            .slogan {
                font-size: 1.1em;
            }
        }
        .cta .calltoaction1 a {
            font-size: 1em;
            width: 135px;
            margin-right: 1em;
        }
        .cta .calltoaction2 a {
            font-size: 1em;
            width: 135px;
        }
        .left .cta {
            padding: 0 5em;
        }
    }
    .services_right .servSvg{
        width: 420px;
        height: 450px;
    }
    .portfolio-container a img {
        width: 359px;
    }
}

/******************* TABLET *********************/

@media only screen and (min-width: 768px) {

    h4 {
        font-size: 2.3em;
    }
    p {
        font-size: 1.1em;
    }
    .navbar {
        .mobile-menu {
            width: 45px;
        }
        .logo .logo1 {
            width: 60px;
        }
        .logo {
            width: 60px;
        }
    }
    nav {
        .closeNav {
            height: 5.75em;
        }
        .navList {
            margin-top: 4em;
        }
        li a {
            font-size: 2em;
        }
    }
    #mobile-exit {
        width: 7%;
    }
    #banner {
        .bunner_content{
            h1 {
                font-size: 3.4em;
            }
            .slogan {
                font-size: 1.4em;
            }
            .left {
                padding: 5em 0 1em 0;

                .cta {
                    justify-content: center;
                }
            }
        }
    }
    #y_us {
        .read {
            font-size: .9em;
        }
    }
    .services_right .servSvg {
        width: 530px;
        height: 450px;
    }
    .portfolio-container a img {
        width: 680px;
    }
    .subtitle {
        font-size: 1.2em;
    }
    #footer {
        .logo span {
            display: unset;
            display: flex;
            align-items: center;
            margin-left: 1em;
        }
        ul a {
            padding-left: .55em;
            color: white;
            font-size: 1em;
        }
    }
}

/******************* Laptop *********************/

@media only screen and (min-width: 1024px) {

    h4 {
        font-size: 3.3em;
    }
    p {
        font-size: 1.6em;
    }
    .navbar {

        width: 100%;
        display: flex;
        background: white;

        .mobile-menu {
            display: none;
        }
        nav {
            padding: 0;
            display: flex;
            height: unset;
            position: relative;
            justify-content: unset;
            align-items: center;
            width: unset;
            background: none;

            li a {
                color: #040425;
                display: flex;
                font-size: 1.3em;
                text-align: right;
            }
            .mobile-menu-exit {
                display: none;
            }
            .closeNav {
                display: none;
            }
            .navList{
                margin-top: 0;
                padding: 0;
            }
            .primary-nav {
                margin-top: 0;
                display: flex;
                float: unset;
            }
        }
        .navContainer {
            display: flex;
            width: 100%;
        }
        .logo span {
            display: unset;
            margin-top: 0; 
            margin-left: 1em;
            width: unset;
        }
        .logo {
            display: flex;
            align-items: center;
        }
        .logo .logo1 {
            width: 70px;
        }
    }
    span .piName {
        width: 14em;
    }
    #banner {
        .bunner_content {
            .left {
                h1 {
                    font-size: 5em;
                }
            }
            .slogan {
                font-size: 2.2em;
            }
            .cta .calltoaction1 a {
                font-size: 1.1em;
                width: 125px;
                padding: 1em 2em;
            }
            .cta .calltoaction2 a {
                font-size: 1.1em;
                width: 125px;
                padding: 1em 2em;
            }
        } 
    }
    #y_us {
        .read {
            font-size: 1.1em;
        }
    }
    #process .process_list img {
        width: 200px;
    }
    .subtitle {
        font-size: 1.6em;
    }
    .portfolio-container a img {
        width: 900px;
    }
    .view {
        font-size: 1.3em;
    }

    .contact-section input, .contact-section textarea {
        font-size: 1.1em;
    }
    .contact-section #budget {
        font-size: 1.1em;
    }
    .contact-section {
        p,label {
            font-size: 1em;
            margin-top: .2em;
        }
        input.cb {
            width: 20px;
            height: 20px;
            margin-right: 1em;
        }
        .send-message-cta {
            font-size: unset;
        }
    }
    .logo {
        width: unset;
        height: unset;
    }
    #footer {
        ul  {
            font-size: 1.3em;
        }
    }
    span {
        width: 14em;
    }
    
}

@media only screen and (min-width: 1440px) {
    
    .bunner_content {
        display: flex;
        place-content: left;
        text-align: left;
        color: white;
        justify-content: space-between;
        .center, .right {
            display: unset;
        }
        h1 {
            font-size: 2.5em;
            width: 500px;
            margin-top: 1em;
        }
        .right {
            width: 50px;
        }
        .center {
            width: 550px !important;
        }
    }
//     #y_us {
//         height: 730px !important;
//     }
//     #y_us > a {
//         margin-top: -9.5em;
//     }
//     .services_right .services_img {
//         margin-left: 40px;
//     }
//     .footer-list {
//         margin-left: 42em !important;
//     }
// }
// @media only screen and (min-width: 1205px) {
    
//     nav .primary-nav {
//         margin-left: 9em;
//     }
//     #banner {
//         height: 710px !important;
//         .bunner_content .center {
//             width: 503px !important;
//         }
//     }
//     #y_us {
//         height: 780px !important;
//     }
//     .y_text {
//         width: 520px;
//     }
//     .read {
//         margin-right: 4.5em;
//     }
//     #y_us > a {
//         margin-top: -14em;
//     }
//     .services_right .services_img {
//         margin-left: 90px;
//     }
//     #process h4 {
//         padding-top: 0;
//     }
//     .desktop {
//         width: 1090px !important;
//     }
//     .work_list a img {
//         width: 650px;
//     }
//     .services_right p {
//         margin-top: 18em;
//     }
//     #services h4 {
//         margin-bottom: -14.5em;
//     }
//     .view {
//         margin-top: 4em;
//     }
//     .footer-list {
//         margin-left: 47em !important;
//     }
 }
@media only screen and (min-width: 1320px) {
    nav {
        width: 42%;
    }
    #banner {
        height: 750px !important;
        .bunner_content .center {
            width: 590px !important;
        }
    }
    #y_us {
        height: 850px !important;
        .y_text {
            margin-top: 20em;
        }
        .y_text {
            margin-top: 14em;
            width: 690px;
            font-size: 20px;
        }
        .y_img {
            margin-top: 4em;
        }
        h4 {
            margin-bottom: -10em;
            padding-top: 8em;
        }
        .read {
            font-size: 18px;
            margin-right: 3.7em;
        }
        a {
            margin-top: -10.5em;
        }
    }
    .desktop {
        width: 1221px !important;
    }
    .contact-right img {
        width: 505px;
    }
    .footer-list {
        margin-left: 53em !important;
    }
}
@media only screen and (min-width: 1430px) {
    h4 {
        font-size: 40px;
    }
    nav {
        width: 42%;
    }
    a > span > img {
        width: 230px;
    }
    #banner {
        height: 840px !important;
        .bunner_content .center {
            width: 568px !important;
        }
        .bunner_content h1 {
            font-size: 50px;
            width: 430px;
        }
        .slogan {
            font-size: 30px;
        }
    }
    
    #y_us {
        height: 820px !important;
        padding-top: 2em;
        h4 {
            margin-bottom: 55PX;
            font-size: 40px;
        }
        .y_text {
            margin-top: 3em;
            width: 690px;
            font-size: 30px;
        }
        .y_img {
            margin-top: -10em;
        }
        h4 {
            padding-top: 3em;
        }
        .read {
            font-size: 20px;
        }
        a {
            margin-top: -8.5em;
        }
    }
    
    #services {
        padding-top: 9em;
        h4 {
            font-size: 40PX;
            margin-bottom: -9.5em;
            margin-left: 1.5em;
        }
        .services_right p {
            font-size: 30px;
            width: 600px;
            margin-top: 12em;
        }
    }
    .desktop {
        width: 1311px !important;
        margin-bottom: 2em;
    }
    #work {
        .work_disc {
            font-size: 30px;
        }
        .inner {
            margin-top: 5em;
        }
        .view {
            font-size: 30px;
        }
        p {
            font-size: 1.3em;
        }
    }

    .contact-section h2 {
        font-size: 40px;
    }
    .contact-section .container .contact-left {
        text-align: left;
        width: 700px;
    }
    .contact-right img {
        width: 545px;
        margin-top: 3.5em;
    }
    .footer-list {
        margin-left: 60em !important;
    }
    .contact-section input, .contact-section textarea {
        padding: 1.4em;
    }
    .contact-section #budget {
        padding: 1.4em .6em 1.4em .6em;
    }
}

/************************** desktop ************************************/
@media only screen and (min-width: 1920px) {

    .navbar {
        padding: 1em 1em 1em 1em;
        height: 100px;
        .logo {
            width: 80px;
            height: 80px;
            padding-top: 1em;
        }
        a > span > img {
            width: 260px;
        }
        nav {
            width: 40%;
        }
        nav .primary-nav {
            margin-top: 1em;
            display: flex;
            float: right;
            font-size: 20px;
        }
    }
    #banner {

        height: 1170px !important;
        .bunner_content h1 {
            font-size: 65px;
            width: 560px;
        }
        #banner .slogan {
            font-size: 40px;
        }
        .bunner_content .center {
            width: 830px !important;
        }
    }
    .right > ul > li {
        width: 70px;
    }
    .right > ul > li:nth-child(1) {
        margin-top: 3em;
    }
    #y_us {
        height: 1150px !important;
        .read {
            font-size: 26px;
            margin-right: 3em;
        }
        a {
            margin-top: -13em;
        }
    }
    .desktop {
        width: 1800px !important;
    }
    #services {
        padding-top: 15em;
        padding-bottom: 7em;
    }
    .services_right .services_img {
        width: 550px;
    }
    .work_list a img {
        width: 995px;
    }
    #work p {
        font-size: 1.8em;
    }
    .work_list p {
        width: 760px;
    }
    .contact-section .container .contact-left {
        text-align: left;
        width: 875px;
    }
    .contact-section input, .contact-section textarea {
        padding: .8em;
    }
    .contact-section #budget {
        padding: .8em;
        font-size: 20px;
    }
    .contact-right img {
        width: 720px;
    }
    .contact-section p, .contact-section label {
        font: 20px 'Fira Sans', sans-serif;
        margin-top: .5em;
    }
    .contact-section .send-message-cta {
        font-size: 1.5em;
    }
    input.cb {
        width: 20px;
        height: 20px;
        margin: 0 1em 0 0;
    }
    input,option,textarea {
        font-size: 20px
    }
    .footer-list {
        margin-left: 85em !important;
    }
    footer ul {
        font-size: 1.3em;
        margin-top: 1.3em;
    }
}